.DS_Store   
.vscode/       
.idea/       
venv/

.venv/
.python-version
__pycache__/
*.pyc
build/
dist/
*.egg-info/
data/              
*.csv
*.json
*.html
*.log
*.dot
*.png
*.svg
.env       
detailed_pydantic_schema
out